<footer>
  <hr>
  <br /><br />
  <div id="footer_text">
  CST336 Internet Programming. &copy; 2024 Triet Huynh. All rights reserved.<br />
  <strong>Disclaimer:</strong> The informaton in this webpage is fictitious. <br />
  It is used for academic purposes only.
  </div>
</footer>
<br>
<section id="copyright">
<small>&copy; 2024 Artificial Intelligence Society. All rights reserved.</small>
</section>
</body>
</html>