body {
  
}
#chat-container {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
#messages {
  height: 600px;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
}
.message {
  font-family: Roboto, Arial;
  margin: 10px 0;
}
.user-message {
  font-family: Roboto, Arial;
  text-align: right;
  padding-bottom: 20px;
  padding-top: 10px;
}
.bot-message {
  text-align: left;
  display:flex;
  align-items:start;
}

.bot-img{
  border-radius:50%;
  margin-right: 10px;
}

#input-container {
  border: 1px solid #ccc;
  display: flex;
  border-radius:10px;
  overflow: hidden;
}
#user-input {
  flex: 1;
  padding: 10px;
  border:none;
}
#user-input:focus {
  outline: none;
  background-color:white;
}
#send-button {
  padding: 10px;
  border-radius:10px;
  border:none;
}