html {
  height: 100%;
  width: 100%;
}
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #white;
}
nav, footer{
  text-align: center;
}
header{
  height:80px;
  padding:0 40px;
  background: #000;
  display: flex;
  align-items: center;
}
header h1{
  font-family: 'Libre Bodoni', serif;
  font-size:2em;
  color: white
}
nav {
  /* width: 100%; */
  height: 100px;
  background-color: #fff;
}
.navigation {
  display: flex;
  justify-content: space-evenly;
}
.navigation li {
  list-style: none;
  line-height: 100px;
}
.navigation li a {
  text-decoration: none;
  font-size: 15px;
  font-family: 'Abril Fatface';
  color: #686868;
  padding: 0 20px;
  white-space: nowrap;
}
.navigation li a:hover {
  color: #000;
}

nav ul.navigation li a.current{
  font-size:18px;
  color:#000;
  font-weight:bold;
}

#footer_text {
  color: #686868;
}
main{
  padding: 0 100px;
  color: #1e1e1e;
  font-family: 'Roboto', sans-serif;
}
figure {
  margin: 0;
  text-align: center;
}
figure img {
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 450px;
}
.AI_applications li{
  margin-left:20px;
}
#references{
  color: #1e1e1e;
  font-family: 'Roboto', sans-serif;
  padding: 0 100px;
}
ol, ul{
  padding: 20px;
}
ul{
  list-style-type: square;
}